
html{
    font-size: 62.5%;
}
body {
    background-color: rgb(188, 180, 180);
    
}
input{
    width: 15vw;
}
textarea{
    width: 15vw;
}


.container {
    width: 80%;
    margin: auto;
    background-color: white;
    border: 0.2rem solid black;
    display: block;
}

.container h1 {
    text-align: center;
    height: 5rem;
    border-bottom: 0.2rem solid black;
}

.container2 {
    display: none;
    font-family: 'Oswald', sans-serif;
}

.col {
    display: flex;
}

.col-1 {
    width: 70%;
    background-color: white;
    padding-left: 6rem;
    padding-right: 3rem;
}

.col-2 {
    width: 30%;
    background-color: rgb(71 92 103);
    color: white;
}

.sec-1 {
    margin-top: 6rem;
}

#summary {
    color: gray;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-bottom: 2.5rem;
}

.row-1 {
    margin-top: 8.35rem;
    padding-left: 4rem;
}

.row-1 p {
    margin: 2.5rem 0rem;
}

.row-2 {
    width: 80%;
}

#row-3_para {
    padding-left: 4rem;
    width: 80%;
}

.header {
    padding-left: 3rem;
    font-weight: 700;
    border-bottom: 0.2rem solid white;
}
#work_list {
    padding: 0rem;
}
#desc_1, #desc_2, #desc_3{
    padding-left: 1rem;
}
.job_list{
    list-style: none;
    color: gray;
}
#job_1,#job_2,#job_3{
    margin-bottom: 4rem;
}
.role{
    font-weight: bold;
    color: black;
}
.btn{
    width: 10vw;
    height: 3vh;
    font-size: 1.2rem;
    padding: 0.4rem;
}
@media(max-width:980px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}